@using Microsoft.AspNetCore.Components.Sections

<SectionContent SectionName="Layout.GdsBreadcrumbs">
    @if (Items.Any())
    {
        <nav class="@_class" aria-label="Breadcrumb" @attributes="AdditionalAttributes">
            <ol class="govuk-breadcrumbs__list">
                @foreach (var item in Items)
                {
                    <li @key="item.Uri" class="govuk-breadcrumbs__list-item">
                        <GdsLink Href="@item.Uri.ToString()" class="govuk-breadcrumbs__link">@item.Label</GdsLink>
                    </li>
                }
            </ol>
        </nav>
    }
</SectionContent>

@code {
    [Parameter]
    public IReadOnlyCollection<GdsBreadcrumb> Items { get; set; } = [];

    [Parameter]
    public string? AdditionalCssClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    private string? _class;

    protected override void OnParametersSet()
    {
        _class = new CssClassBuilder("govuk-breadcrumbs")
            .Add(AdditionalCssClasses)
            .Build();
    }
}