@typeparam T

@if (Options.Count > 0)
{
    <div class="@_cssClass" data-module="govuk-checkboxes">
        @foreach (var option in Options)
        {
            <GdsCheckbox Option="option" Name="@Name" />
        }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public required IReadOnlyCollection<GdsOptionItem<T>> Options { get; set; }

    [Parameter]
    public bool Smaller { get; set; }

    [Parameter]
    public string Name { get; set; } = Guid.NewGuid().ToString();

    private string _cssClass => Smaller ? "govuk-checkboxes govuk-checkboxes--small" : "govuk-checkboxes";
}
