@typeparam T

@if (Options.Count > 0)
{
    <div class="@_cssClass" data-module="govuk-checkboxes" @attributes="@AdditionalAttributes">
        @foreach (GdsOptionItem<T> option in Options)
        {
            <GdsCheckbox T="T" Option="option" Name="@Name" OnChanged="@_onChanged" />
        }
    </div>
}

@code {
    [Parameter, EditorRequired]
    public required IReadOnlyCollection<GdsOptionItem<T>> Options { get; set; }

    [Parameter]
    public bool Smaller { get; set; }

    [Parameter]
    public string Name { get; set; } = Guid.NewGuid().ToString();

    [Parameter]
    public EventCallback<GdsOptionItem<T>> OnChanged { get; set; }

    private string _cssClass => Smaller ? "govuk-checkboxes govuk-checkboxes--small" : "govuk-checkboxes";
    private EventCallback<GdsOptionItem<T>> _onChanged;

    protected override void OnParametersSet()
    {
        _onChanged = OnChanged.HasDelegate
            ? EventCallback.Factory.Create<GdsOptionItem<T>>(this, HandleOnChanged)
            : default;
    }

    private Task HandleOnChanged(GdsOptionItem<T> option) => OnChanged.HasDelegate ? OnChanged.InvokeAsync(option) : Task.CompletedTask;

    // Use attribute splatting on non-input components and inheritance on others.
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }
}
