@if (CurrentEditContext.GetValidationMessages().Any())
{
    <div class="@_class" data-module="govuk-error-summary" @attributes="AdditionalAttributes">
        <div role="alert">
            <GdsHeading Level="2" class="govuk-error-summary__title">There is a problem</GdsHeading>
            <div class="govuk-error-summary__body">
                <ul class="govuk-list govuk-error-summary__list">
                    @foreach (var message in CurrentEditContext.GetValidationMessages())
                    {
                        <li>@message</li>
                    }
                </ul>
            </div>
        </div>
    </div>
}