<footer class="@_class" @attributes="AdditionalAttributes">
    <GdsContainer>
        @if (Navigation is not null)
        {
            <div class="govuk-footer__navigation">
                @Navigation
            </div>
        }
        @if (Navigation is not null && Meta is not null)
        {
            <hr class="govuk-footer__section-break">
        }
        @if (Meta is not null)
        {
            <div class="govuk-footer__meta">
                @Meta
            </div>
        }
    </GdsContainer>
</footer>

@code {
    [Parameter]
    public string? AdditionalCssClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public string? CssClass { get; set; } = "govuk-footer";

    [Parameter]
    public RenderFragment? Navigation { get; set; }

    [Parameter]
    public RenderFragment? Meta { get; set; }

    private string? _class;

    protected override void OnParametersSet()
    {
        _class = new CssClassBuilder(CssClass)
            .Add(AdditionalCssClasses)
            .Build();
    }
}