<footer class="@CssClass">
    <div class="govuk-width-container">
        @if (Navigation is not null)
        {
            <div class="govuk-footer__navigation">
                @Navigation
            </div>
        }
        @if (Navigation is not null && Meta is not null)
        {
            <hr class="govuk-footer__section-break">
        }
        @if (Meta is not null)
        {
            <div class="govuk-footer__meta">
                @Meta
            </div>
        }
    </div>
</footer>

@code {
    [Parameter]
    public string? CssClass { get; set; } = "govuk-footer";

    [Parameter]
    public RenderFragment? Navigation { get; set; }

    [Parameter]
    public RenderFragment? Meta { get; set; }
}