<div class="@_class" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? AdditionalCssClasses { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IReadOnlyDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public GdsGridColumnWidth? Width { get; set; }

    [Parameter]
    public GdsGridColumnWidth[] Widths { get; set; } = [];

    private string? _class;

    protected override void OnParametersSet()
    {
        var builder = new CssClassBuilder();
        AddWidthCssClasses(builder);
        _class = builder.Add(AdditionalCssClasses).Build();
    }

    private void AddWidthCssClasses(CssClassBuilder builder)
    {
        if (Width is not null)
        {
            // Width specified, use it
            builder.Add(Width.Value.GetDescription());
            return;
        }

        if (Widths.Length > 0)
        {
            // Widths specified, use all of them
            foreach (GdsGridColumnWidth columnWidth in Widths)
            {
                builder.Add(columnWidth.GetDescription());
            }
            return;
        }

        // No widths specified, use default full width
        builder.Add(GdsGridColumnWidth.Full.GetDescription());
    }
}