@if (Show)
{
    <div id="@Id" class="@ComponentClass" @attributes="@AdditionalAttributes">
        @ChildContent
    </div>
}

@code {
    [CascadingParameter]
    private string? CascadedId { get; set; }

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public string? Id { get; set; }

    [Parameter]
    public bool Show { get; set; } = true;

    private string BaseClass = "govuk-hint";

    [Parameter]
    public string? AdditionalCssClasses { get; set; }

    private string ComponentClass => $"{BaseClass} {AdditionalCssClasses}";

    // Use attribute splatting on non-input components and inheritance on others.
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? AdditionalAttributes { get; set; }

    protected override void OnInitialized()
    {
        if (Id == null)
        {
            Id = $"{CascadedId}-hint";
        }
    }
}
