<div class="govuk-inset-text">@_renderFragment</div>

@code {
    [Parameter]
    public string? Text { get; set; }

    [Parameter]
	public RenderFragment? ChildContent { get; set; }

    private RenderFragment? _renderFragment;

    protected override void OnParametersSet()
    {
        _renderFragment = ChildContent ?? (Text is not null ? builder => builder.AddContent(0, Text) : null);
        if (Text is not null && ChildContent is not null)
        {
            throw new InvalidOperationException("Cannot set both Text and ChildContent parameters.");
        }
    }
}