$govuk-new-typography-scale: true;
$govuk-font-family: arial, sans-serif;
$govuk-assets-path: "/_content/Dorset-Council-UK.GdsBlazorComponents/";

@import "govuk-frontend/dist/govuk";

// Colour variables to help with user styling
:root {
    --govuk-frontend-color-red: #{govuk-colour("red")};
    --govuk-frontend-color-yellow: #{govuk-colour("yellow")};
    --govuk-frontend-color-green: #{govuk-colour("green")};
    --govuk-frontend-color-blue: #{govuk-colour("blue")};
    --govuk-frontend-color-dark-blue: #{govuk-colour("dark-blue")};
    --govuk-frontend-color-light-blue: #{govuk-colour("light-blue")};
    --govuk-frontend-color-purple: #{govuk-colour("purple")};
    --govuk-frontend-color-black: #{govuk-colour("black")};
    --govuk-frontend-color-dark-grey: #{govuk-colour("dark-grey")};
    --govuk-frontend-color-mid-grey: #{govuk-colour("mid-grey")};
    --govuk-frontend-color-light-grey: #{govuk-colour("light-grey")};
    --govuk-frontend-color-white: #{govuk-colour("white")};
    --govuk-frontend-color-light-purple: #{govuk-colour("light-purple")};
    --govuk-frontend-color-bright-purple: #{govuk-colour("bright-purple")};
    --govuk-frontend-color-pink: #{govuk-colour("pink")};
    --govuk-frontend-color-light-pink: #{govuk-colour("light-pink")};
    --govuk-frontend-color-orange: #{govuk-colour("orange")};
    --govuk-frontend-color-brown: #{govuk-colour("brown")};
    --govuk-frontend-color-light-green: #{govuk-colour("light-green")};
    --govuk-frontend-color-turquoise: #{govuk-colour("turquoise")};
}

// Adjust the header logo to make the focus link colour cover the entire logo
.govuk-header__link--homepage {
    @include govuk-media-query($from: desktop) {
        display: inline-block;
    }
}

//make sure header navigation is right aligned
.govuk-header__content {
    text-align: right;
}

// Make GDS errors without links look like errors
.govuk-error-summary__list {
    li {
        @include govuk-typography-weight-bold;
        color: govuk-colour("red");
    }
}

// related content section
section.related-navigation, .related-navigation {
    border-top: 2px solid govuk-colour("blue");

    @media print {
        display: none !important;
    }

    @media #{govuk-from-breakpoint(tablet)} {
        padding: 0;
    }

    h2, h3, h4 {
        margin-top: govuk-spacing(3);
    }
}

// Adjustments for Dorset Council
.dorset {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    // Fill the space when the parent is flex
    .flex-fill {
        flex: 1 1 0%;
    }

    // Footer
    .govuk-footer {
        background-color: #2E3136;
        border-top: 1px solid #2E3136;
        color: govuk-colour("white");

        .govuk-footer__meta {
            justify-content: flex-start;
        }

        .govuk-footer__heading {
            color: govuk-colour("white");
            border-bottom-color: govuk-colour("white");
        }

        .govuk-footer__section-break {
            border-bottom-color: govuk-colour("white");
        }

        .govuk-footer__link {
            @include govuk-link-style-inverse;
        }
    }
}
