$govuk-new-typography-scale: true;
$govuk-font-family: arial, sans-serif;
$govuk-assets-path: "/_content/Dorset-Council-UK.GdsBlazorComponents/";

@use "govuk-frontend/dist/govuk";

// Colour variables to help with user styling
:root {
    --govuk-frontend-color-red: #{govuk.govuk-colour("red")};
    --govuk-frontend-color-yellow: #{govuk.govuk-colour("yellow")};
    --govuk-frontend-color-green: #{govuk.govuk-colour("green")};
    --govuk-frontend-color-blue: #{govuk.govuk-colour("blue")};
    --govuk-frontend-color-dark-blue: #{govuk.govuk-colour("dark-blue")};
    --govuk-frontend-color-light-blue: #{govuk.govuk-colour("light-blue")};
    --govuk-frontend-color-purple: #{govuk.govuk-colour("purple")};
    --govuk-frontend-color-black: #{govuk.govuk-colour("black")};
    --govuk-frontend-color-dark-grey: #{govuk.govuk-colour("dark-grey")};
    --govuk-frontend-color-mid-grey: #{govuk.govuk-colour("mid-grey")};
    --govuk-frontend-color-light-grey: #{govuk.govuk-colour("light-grey")};
    --govuk-frontend-color-white: #{govuk.govuk-colour("white")};
    --govuk-frontend-color-light-purple: #{govuk.govuk-colour("light-purple")};
    --govuk-frontend-color-bright-purple: #{govuk.govuk-colour("bright-purple")};
    --govuk-frontend-color-pink: #{govuk.govuk-colour("pink")};
    --govuk-frontend-color-light-pink: #{govuk.govuk-colour("light-pink")};
    --govuk-frontend-color-orange: #{govuk.govuk-colour("orange")};
    --govuk-frontend-color-brown: #{govuk.govuk-colour("brown")};
    --govuk-frontend-color-light-green: #{govuk.govuk-colour("light-green")};
    --govuk-frontend-color-turquoise: #{govuk.govuk-colour("turquoise")};
}

//make sure header navigation is right aligned
.govuk-header__content {
    text-align: right;
}

// Make GDS errors without links look like errors
.govuk-error-summary__list {
    li {
        @include govuk.govuk-typography-weight-bold();
        color: govuk.govuk-colour("red");
    }
}

// related content section
section.related-navigation, .related-navigation {
    border-top: 2px solid govuk.govuk-colour("blue");

    @media print {
        display: none !important;
    }

    @media #{govuk.govuk-from-breakpoint(tablet)} {
        padding: 0;
    }

    h2, h3, h4 {
        margin-top: govuk.govuk-spacing(3);
    }
}

// Adjustments for Dorset Council
.dorset {
    $dorset-colour-header: #09476d;
    $dorset-colour-footer: #2e3136;

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    // Fill the space when the parent is flex
    .flex-fill {
        flex: 1;
    }
    // Header
    .govuk-header {
        background-color: $dorset-colour-header;

        .govuk-header__link--homepage:not(:focus) {
            background-color: unset;
        }
    }
    // Footer
    .govuk-footer {
        background-color: $dorset-colour-footer;
        border-top: 1px solid $dorset-colour-footer;
        color: govuk.govuk-colour("white");

        .govuk-footer__meta {
            justify-content: flex-start;
        }

        .govuk-footer__heading {
            color: govuk.govuk-colour("white");
            border-bottom-color: govuk.govuk-colour("white");
        }

        .govuk-footer__section-break {
            border-bottom-color: govuk.govuk-colour("white");
        }

        .govuk-footer__link {
            @include govuk.govuk-link-style-inverse();
        }
    }
}
