$govuk-new-typography-scale: true;
$govuk-font-family: "Arial",sans-serif;
$govuk-assets-path: "/_content/Dorset-Council-UK.GdsBlazorComponents/";

// Use our image for the copyright notice
$govuk-footer-crest-image-width: 188px;
$govuk-footer-crest-image-height: 80px;
$govuk-footer-crest-image-width-2x: $govuk-footer-crest-image-width * 2;
$govuk-footer-crest-image-height-2x: $govuk-footer-crest-image-height * 2;

@import "govuk-frontend/dist/govuk";

// Adjust the header logo to make the focus link colour cover the entire logo
.govuk-header__link--homepage {
    @include govuk-media-query($from: desktop) {
        display: inline-block;
    }
}

//make sure header navigation is right aligned
.govuk-header__content {
    text-align: right;
}

// Use our image for the copyright notice
.govuk-footer__copyright-logo::before {
    padding-top: ($govuk-footer-crest-image-height + govuk-spacing(2));
    background: unset;
    background-image: govuk-image-url("copyright.webp");
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: $govuk-footer-crest-image-width $govuk-footer-crest-image-height;
    -webkit-mask: unset;
    mask: unset;
}

// Make GDS errors without links look like errors
.govuk-error-summary__list {
    li {
        @include govuk-typography-weight-bold;
        color: govuk-colour("red");
    }
}

// related content section
section.related-navigation, .related-navigation {
    border-top: 2px solid govuk-colour("blue");

    @include govuk-media-query($media-type: print) {
        display: none !important;
    }

    @include govuk-media-query($from: tablet) {
        padding: 0;
    }

    h2, h3, h4 {
        margin-top: govuk-spacing(3);
    }
}
